.pricing
{
    background-color: rgb(237, 243, 248);
    padding-top: 115px;
    background-repeat: no-repeat;
    text-align: center;
}
.Pricing__title
{
    color: rgb(54, 83, 107);
font-family: DM Serif Display;
font-size: 32px;
font-weight: 400;
line-height: 36px;
letter-spacing: -0.25px;
margin-bottom: 48px;
}
.p_card__title
{
color: rgb(186, 66, 112);
font-family: DM Serif Display;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.18px;
margin-bottom: 17px;
}
.p_card__text
{
color: rgb(108, 130, 148);
font-family: PublicSans;
font-size: 18px;
font-weight: 100;
line-height: 28px;
letter-spacing: 0px;
margin-bottom: 8px;
}
.p_card__dolor
{
    color: rgb(54, 83, 107);
font-family: DM Serif Display;
font-size: 56px;
font-weight: 400;
line-height: 72px;
letter-spacing: -0.43px;
margin-bottom: 24px;
}
.p_card__border
{
    width:327px;
    height: 1px;
    background: rgb(54, 83, 107);
    opacity: 0.25;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}


.p_card__workflow
{
color: rgb(54, 83, 107);
font-family: Public Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
}
.p_card__workflow_2
{
    color: rgb(54, 83, 107);
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    opacity: 0.6;
    
}
.p_card__item
{
    display: flex;
    gap: 15px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.p_card__item_2 
{
    display: flex;
    gap: 15px;
    width: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.p_card__checkbox
{
    text-align: start;
}
.p_card__btn
{
color: rgb(54, 83, 107);
font-family: Public Sans;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.12px;
padding: 16px 28px;
border: none;
box-sizing: border-box;
border: 1px solid rgb(54, 83, 107);
border-radius: 24px;
background-color: transparent;
margin-bottom: 48px;
margin-top: 8px;
}
@media screen and (min-width: 768px) {
    .pricing
{
    background-color: rgb(237, 243, 248);
    padding-top: 115px;
    background-repeat: no-repeat;
    background-image: url('/img/bg_hero_deck.svg');
    background-position: right -390px top -300px;
}
.pricing__card_flex
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center
}    
.p_card__title
{
    width: 223px;
    margin-left: auto;
    margin-right: auto;
}
.p_card__text
{
    width:222px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}
.p_card__dolor
{
    font-size: 48px;
    width: 170px;
    margin-right: auto;
    margin-left: auto;
}
.p_card__border
{
    width: 223px;
    margin-left: auto;
    margin-right: auto;
}
.Pricing__title
{
color: rgb(54, 83, 107);
font-family: DM Serif Display;
font-size: 48px;
font-weight: 400;
line-height: 56px;
letter-spacing: -0.37px;
margin-bottom: 100px;
margin-top: 80px;
}
}
@media screen and (min-width: 1250px) {
    .pricing
    {
        background-color: rgb(237, 243, 248);
        padding-top: 115px;
        background-repeat: no-repeat;
        background-image: url('/img/bg_hero_deck.svg');
        background-position: right -10px top -350px;
    }
    .pricing__card_flex
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }    
    .p_card__title
    {
        
        width: 223px;
        margin-left: 0;
        margin-left: 0;
    }
    .p_card__text
    {
        width:222px;
        font-size: 15px;
        margin-right: 0;
        margin-left: 0;
    }
    .p_card__dolor
    {
        font-size: 48px;
        width: 170px;
        margin-left: 0;
        margin-right: 0;
    }
    .p_card__border
    {
        width: 350px;
        margin-left: 0;
        margin-right: 0;
    }
    .Pricing__title
    {
    color: rgb(54, 83, 107);
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
    margin-bottom: 100px;
    margin-top: 80px;
    }
    .pricing
    {
    text-align: left;
    }
    .p_card__btn
    {
        margin-left: 0px;
    }
    .p_card__item
    {
        margin-left: 0;
        margin-right: 0;
    }
    .p_card__item_2
    {
        margin-left: 30px;
        margin-right: 0;
    }
    .pricing__block
    {
        padding-left: 110px;
        padding-right: 110px;
    }
    }